// Variables
$font-stack: "Futura PT", Georgia;
$primary-color: #222;
$secondary-color: #EEE;
$small-amount: 10px;
$med-amount: 20px;
$large-amount: 50px;

$gray-darker:               #444444;
$gray-dark:                 #696969;
$gray:                      #999999;
$gray-light:                #cccccc;
$gray-lighter:              #ececec;
$gray-lightest:             lighten($gray-lighter,4%);
